
GO
USE [bnb]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 9/22/2018 12:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[UId] [int] NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Count] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameVersion]    Script Date: 9/22/2018 12:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameVersion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentVersion] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_GameVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 9/22/2018 12:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Guid] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](100) NOT NULL,
	[UId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stage]    Script Date: 9/22/2018 12:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[UId] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/22/2018 12:29:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Location] [nchar](10) NULL,
	[Version] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[RankScore] [int] NULL,
	[BallCount] [int] NULL,
	[TSpeed] [int] NULL,
	[LLimit] [int] NULL,
	[Stages] [int] NULL,
	[Starts] [int] NULL,
	[FbId] [nvarchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


USE [master]
GO
